<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <add name="AdventureWorks2014" connectionString="data source=(localdb)\MSSQLLocalDB;initial catalog=AdventureWorks2014;integrated security=True;MultipleActiveResultSets=False;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="AdventureWorks2014Entities" connectionString="metadata=res://*/EF.AdventureWork.csdl|res://*/EF.AdventureWork.ssdl|res://*/EF.AdventureWork.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=AdventureWorks2014;integrated security=True;MultipleActiveResultSets=False;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
