<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.2" targetFramework="net461" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net461" />
  <package id="MicroLite" version="6.3.2" targetFramework="net461" />
  <package id="NPoco" version="3.4.8" targetFramework="net461" />
  <package id="PetaPoco.Core" version="5.1.228" targetFramework="net461" />
  <package id="ServiceStack.Common" version="4.5.6" targetFramework="net461" />
  <package id="ServiceStack.Interfaces" version="4.5.6" targetFramework="net461" />
  <package id="ServiceStack.OrmLite" version="4.5.6" targetFramework="net461" />
  <package id="ServiceStack.OrmLite.SqlServer" version="4.5.6" targetFramework="net461" />
  <package id="ServiceStack.Text" version="4.5.6" targetFramework="net461" />
  <package id="Simple.Data.Ado" version="0.19.0.0" targetFramework="net461" />
  <package id="Simple.Data.Core" version="0.19.0.0" targetFramework="net461" />
  <package id="Simple.Data.Sample" version="0.5.1" targetFramework="net461" />
  <package id="Simple.Data.SqlServer" version="0.19.0.0" targetFramework="net461" />
</packages>